body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: monospace;
}

#input {
  background-color: #5b6078;
  padding: 0.1em;
  border: none;
  color: #a6adc8;
  height: 4vh;
  margin-right: 0px;
}

#check,
#next {
  background-color: #939ab7;
  padding: 0.2em;
  color: #cdd6f4;
  border: none;
  /* border-radius: 15%; */
  height: 4vh;
  margin-left: 0px;
}

#character {
  font-size: 60px;
}
.bigContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
